body {
  /*background-color: #263838;*/
  background: linear-gradient(to bottom, #263838, #59A3A2);
  background-image: url('./IMG/planta.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}
/* Header */
header {
  background-color: linear-gradient(to bottom, #263838, hsl(0, 0%, 99%));
  padding: 20px;
}

h1 {
  color: #FFF;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px #000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #669966;
}

/* Contenido */
main {
  padding: 20px;
  text-align: center;
  color: #FFF;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#myCarousel {
  margin-top: 20px;
}

.grid-item {
  position: relative;
}

.grid-item img {
  width: 100%;
  height: auto;
}

.grid-item p {
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #263838;
  padding: 20px;
  text-align: center;
}

footer p {
  color: #FFF;
  font-weight: bold;
}


footer .redes-sociales a {
  color: #FFF;
}

/* Media queries */
@media screen and (max-width: 768px) {
  /* Estilos para pantallas más pequeñas */
}

/* Media queries */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}

.ferti1-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Divide en 1 tercio y 2 tercios */
  gap: 20px;
}

/* Estilos específicos para la página nosotros.html */
body.nosotroshtml main.grid-container {
  grid-template-columns: 1fr; /* Cambio a una sola columna */
  gap: 20px;
  text-align: center;
}

body.nosotroshtml .grid-item img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

body.nosotroshtml .contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: auto 0; /* Añadido para centrar verticalmente el contenido */
}

body.nosotroshtml .contenido p {
  margin: 0 20%; /* Reducción de margen horizontal */
}

.ferti-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Divide en 1 tercio y 2 tercios */
  gap: 20px;
}

.ferti-container .grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.ferti-container .descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centrar contenido horizontalmente */
}

/* Ajustar el tamaño del botón "Añadir al carrito" */
.ferti-container .descripcion button.btn-primary {
  width: fit-content;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
}